HolidayReservationSystem/src/META-INF/wsdl/localhost_8080/PartnerWebService/PartnerWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="BeanValidationException" type="tns:BeanValidationException"/>

<xs:element name="DoesNotExistException" type="tns:DoesNotExistException"/>

<xs:element name="InvalidLoginException" type="tns:InvalidLoginException"/>

<xs:element name="partnerLogin" type="tns:partnerLogin"/>

<xs:element name="partnerLoginResponse" type="tns:partnerLoginResponse"/>

<xs:element name="reserveRoomsByRoomType" type="tns:reserveRoomsByRoomType"/>

<xs:element name="reserveRoomsByRoomTypeResponse" type="tns:reserveRoomsByRoomTypeResponse"/>

<xs:element name="retrieveAllReservationsByPartner" type="tns:retrieveAllReservationsByPartner"/>

<xs:element name="retrieveAllReservationsByPartnerResponse" type="tns:retrieveAllReservationsByPartnerResponse"/>

<xs:element name="retrieveReservationsByPartner" type="tns:retrieveReservationsByPartner"/>

<xs:element name="retrieveReservationsByPartnerResponse" type="tns:retrieveReservationsByPartnerResponse"/>

<xs:element name="searchRoomTypeReservableQuantityForPartner" type="tns:searchRoomTypeReservableQuantityForPartner"/>

<xs:element name="searchRoomTypeReservableQuantityForPartnerResponse" type="tns:searchRoomTypeReservableQuantityForPartnerResponse"/>

<xs:complexType name="retrieveAllReservationsByPartner">
<xs:sequence>
<xs:element name="emailAddress" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllReservationsByPartnerResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservationEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservationEntity">
<xs:sequence>
<xs:element name="checkInDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="exceptionReport" type="tns:exceptionReport" minOccurs="0"/>
<xs:element name="isAllocated" type="xs:boolean" minOccurs="0"/>
<xs:element name="online" type="xs:boolean" minOccurs="0"/>
<xs:element name="priceOfStay" type="xs:decimal" minOccurs="0"/>
<xs:element name="reservationId" type="xs:long" minOccurs="0"/>
<xs:element name="roomEntity" type="tns:roomEntity" minOccurs="0"/>
<xs:element name="roomTypeEntity" type="tns:roomTypeEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="exceptionReport">
<xs:sequence>
<xs:element name="exceptionType" type="xs:int" minOccurs="0"/>
<xs:element name="messageToGuest" type="xs:string" minOccurs="0"/>
<xs:element name="messageToHotel" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomEntity">
<xs:sequence>
<xs:element name="floorUnitNo" type="xs:string" minOccurs="0"/>
<xs:element name="isDisabled" type="xs:boolean" minOccurs="0"/>
<xs:element name="roomId" type="xs:long" minOccurs="0"/>
<xs:element name="roomStatusEnum" type="tns:roomStatusEnum" minOccurs="0"/>
<xs:element name="roomTypeEntity" type="tns:roomTypeEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomTypeEntity">
<xs:sequence>
<xs:element name="amenities" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="bed" type="xs:string" minOccurs="0"/>
<xs:element name="capacity" type="xs:int" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="isDisabled" type="xs:boolean" minOccurs="0"/>
<xs:element name="mySize" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="ranking" type="xs:int" minOccurs="0"/>
<xs:element name="roomConfig" type="tns:roomConfig" minOccurs="0"/>
<xs:element name="roomTypeId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomConfig">
<xs:sequence>
<xs:element name="bed" type="xs:string" minOccurs="0"/>
<xs:element name="capacity" type="xs:int" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="mySize" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="ranking" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DoesNotExistException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveReservationsByPartner">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="reservationId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveReservationsByPartnerResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservationEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchRoomTypeReservableQuantityForPartner">
<xs:sequence>
<xs:element name="checkIn" type="xs:dateTime" minOccurs="0"/>
<xs:element name="checkOut" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchRoomTypeReservableQuantityForPartnerResponse">
<xs:sequence>
<xs:element name="return" type="tns:pair" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pair">
<xs:sequence>
<xs:element name="first" type="xs:anyType" minOccurs="0"/>
<xs:element name="second" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserveRoomsByRoomType">
<xs:sequence>
<xs:element name="checkIn" type="xs:dateTime" minOccurs="0"/>
<xs:element name="checkOut" type="xs:dateTime" minOccurs="0"/>
<xs:element name="roomType" type="xs:string" minOccurs="0"/>
<xs:element name="roomQuality" type="xs:long" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserveRoomsByRoomTypeResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="BeanValidationException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLogin">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:partnerEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerEntity">
<xs:sequence>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidLoginException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="roomStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="AVAILABLE"/>
<xs:enumeration value="UNAVAILABLE"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>