HolidayReservationSystem/xml-resources/web-service-references/PartnerWebService/wsdl/localhost_8080/PartnerWebService/PartnerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerWebService/PartnerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveAllReservationsByPartner">
<part name="parameters" element="tns:retrieveAllReservationsByPartner"/>
</message>
<message name="retrieveAllReservationsByPartnerResponse">
<part name="parameters" element="tns:retrieveAllReservationsByPartnerResponse"/>
</message>
<message name="DoesNotExistException">
<part name="fault" element="tns:DoesNotExistException"/>
</message>
<message name="reserveRoomsByRoomType">
<part name="parameters" element="tns:reserveRoomsByRoomType"/>
</message>
<message name="reserveRoomsByRoomTypeResponse">
<part name="parameters" element="tns:reserveRoomsByRoomTypeResponse"/>
</message>
<message name="BeanValidationException">
<part name="fault" element="tns:BeanValidationException"/>
</message>
<message name="retrieveReservationsByPartner">
<part name="parameters" element="tns:retrieveReservationsByPartner"/>
</message>
<message name="retrieveReservationsByPartnerResponse">
<part name="parameters" element="tns:retrieveReservationsByPartnerResponse"/>
</message>
<message name="searchRoomTypeReservableQuantityForPartner">
<part name="parameters" element="tns:searchRoomTypeReservableQuantityForPartner"/>
</message>
<message name="searchRoomTypeReservableQuantityForPartnerResponse">
<part name="parameters" element="tns:searchRoomTypeReservableQuantityForPartnerResponse"/>
</message>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="InvalidLoginException">
<part name="fault" element="tns:InvalidLoginException"/>
</message>
<portType name="PartnerWebService">
<operation name="retrieveAllReservationsByPartner">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllReservationsByPartnerRequest" message="tns:retrieveAllReservationsByPartner"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllReservationsByPartnerResponse" message="tns:retrieveAllReservationsByPartnerResponse"/>
<fault message="tns:DoesNotExistException" name="DoesNotExistException" wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllReservationsByPartner/Fault/DoesNotExistException"/>
</operation>
<operation name="reserveRoomsByRoomType">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/reserveRoomsByRoomTypeRequest" message="tns:reserveRoomsByRoomType"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/reserveRoomsByRoomTypeResponse" message="tns:reserveRoomsByRoomTypeResponse"/>
<fault message="tns:DoesNotExistException" name="DoesNotExistException" wsam:Action="http://ws.session.ejb/PartnerWebService/reserveRoomsByRoomType/Fault/DoesNotExistException"/>
<fault message="tns:BeanValidationException" name="BeanValidationException" wsam:Action="http://ws.session.ejb/PartnerWebService/reserveRoomsByRoomType/Fault/BeanValidationException"/>
</operation>
<operation name="retrieveReservationsByPartner">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveReservationsByPartnerRequest" message="tns:retrieveReservationsByPartner"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveReservationsByPartnerResponse" message="tns:retrieveReservationsByPartnerResponse"/>
<fault message="tns:DoesNotExistException" name="DoesNotExistException" wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveReservationsByPartner/Fault/DoesNotExistException"/>
</operation>
<operation name="searchRoomTypeReservableQuantityForPartner">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/searchRoomTypeReservableQuantityForPartnerRequest" message="tns:searchRoomTypeReservableQuantityForPartner"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/searchRoomTypeReservableQuantityForPartnerResponse" message="tns:searchRoomTypeReservableQuantityForPartnerResponse"/>
<fault message="tns:DoesNotExistException" name="DoesNotExistException" wsam:Action="http://ws.session.ejb/PartnerWebService/searchRoomTypeReservableQuantityForPartner/Fault/DoesNotExistException"/>
</operation>
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:InvalidLoginException" name="InvalidLoginException" wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLogin/Fault/InvalidLoginException"/>
</operation>
</portType>
<binding name="PartnerWebServicePortBinding" type="tns:PartnerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveAllReservationsByPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DoesNotExistException">
<soap:fault name="DoesNotExistException" use="literal"/>
</fault>
</operation>
<operation name="reserveRoomsByRoomType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DoesNotExistException">
<soap:fault name="DoesNotExistException" use="literal"/>
</fault>
<fault name="BeanValidationException">
<soap:fault name="BeanValidationException" use="literal"/>
</fault>
</operation>
<operation name="retrieveReservationsByPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DoesNotExistException">
<soap:fault name="DoesNotExistException" use="literal"/>
</fault>
</operation>
<operation name="searchRoomTypeReservableQuantityForPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DoesNotExistException">
<soap:fault name="DoesNotExistException" use="literal"/>
</fault>
</operation>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginException">
<soap:fault name="InvalidLoginException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PartnerWebService">
<port name="PartnerWebServicePort" binding="tns:PartnerWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerWebService/PartnerWebService"/>
</port>
</service>
</definitions>